.list{
  width: 462px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 1rem;
}
.list li{
 
}
.nav-btn{
  background-color: #051c33;
  min-width: 100px;
  height: 36px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-btn:hover{
  background-color: #535252;
  font-size: 1rem;
}
