.list{
  width: 462px;
  height: 26px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.list li{
 
}
.nav-btn{
  background-color: #051c33;
  min-width: 100px;
  height: 26px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}
.nav-btn:hover{
  background-color: #4f4d4d;
}
